<div>

    <h1>{{item.title}}</h1>
    <p>
        Written by:
        <span class="badge badge-primary font-weight-bolde">{{item.author}}</span>
        in:
        <span class="badge badge-secondary">{{item.date}}</span>
    </p>
    <p>
        {{item.body}}
    </p>

</div>