<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-5 mt-5">
            <form class="form-signin" action="" method="post">
                <h1 class="mb-3">Sign up</h1>
                <input type="text" name="userName" class="form-control mb-3" placeholder="User Name" required autofocus>
                <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </div>
        </form>
    </div>
    <div class="row justify-content-md-center">
        <div class="alert mt-5 col-5 alert-{{type}}" role="alert">
            <p class="row justify-content-md-center">{{msg}}</p>
        </div>
    </div>
</div>